* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;;
}

@font-face {
  font-family: wedding;
  src: url(../public/fonts/berkshireswash-regular.ttf);
}

@font-face {
  font-family: wedding-2;
  src: url(../public/fonts/Crimson-Roman.otf);
}

@font-face {
  font-family: wedding-3;
  src: url(../public/fonts/AbrilFatface-Regular.otf);
}

@font-face {
  font-family: wedding-4;
  src: url(../public/fonts/Allura-Regular.otf);
}

@font-face {
  font-family: wedding-5;
  src: url(../public/fonts/amita-regular.ttf);
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.onas {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.onas {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #121212;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #121212;
}